@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {

    height: 100%;
    margin: 0;
    font-family: 'Bilbo', cursive;
    text-align: center;
    background: url(/assets/images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    
}

/*----logo----*/

.logo {
    height: 100px;
    position: relative;
  
}

h1 {
    position: relative;
    color: #fbeca3;
    font-family: 'Bilbo', cursive;

}

/*-------score tab----*/

.score {
    font-size: 25px;
    font-family: 'Bilbo', cursive;
    padding: 10px 0 20px;
}

.ring-rating, li {
    display: inline-block;
    padding: 5px;
}

.move-counter {
    padding: 5px;
    
}

.reset button {
    background: #cf6010;
    padding-top: 2px;
    margin-top: 4px;
    border-radius: 5px;
}

.time-container {
   background-color: black;
   border-radius: 15px;
   color: #fff;
   margin-left: 47%;
   margin-right: 47%;
   margin-bottom: 10px;
   padding: 12px;
}

.time-container span {
    font-family: 'Bilbo', cursive;
    font-size: 25px;
}

.time-container i {
    font-size: 14px;
}

ul, li {
    list-style: none;
}

.card, .btn-reset {
    cursor: pointer;
}

/*----modal congrats----*/

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;

}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*---Memory Game----*/

.memory-game {
    background: linear-gradient(to bottom, #fbeca3);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    margin-bottom: 60px;
    left: 27%;
    width: 640px;
    padding-right: 10px;

}

.memory-game, .memory-card {
    box-shadow: 2px 5px 25px 0 #fbeca3;
    background: #cf6010;
}

.memory-card {
    background: url(assets/images/onering.jpg);
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.memory-img {
    user-select: none;
    width:50px;
}

.memory-game img {
    visibility: hidden;
}


.memory-card.flip {
    transform: rotateY(180deg);
    transition: transform 0.3s linear;
    pointer-events: none;
}

.flip img {
    visibility: hidden;

}

.memory-card.match {
    visibility: visible;
    animation: pulse 1.5s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

