@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

html {
    box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {

    height: 100%;
    margin: 0;
    font-family: 'Bilbo', cursive;
    text-align: center;
    background: url(images/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    
}


/*----logo----*/

.logo {
    height: 100px;
    position: relative;
  
}

h1 {
    position: relative;
    color: #fbeca3;
    font-family: 'Bilbo', cursive;

}

/*-------score tab----*/

.score {
    font-size: 25px;
    font-family: 'Bilbo', cursive;
    padding: 10px 0 20px;
}

.ring-rating, li {
    display: inline-block;
    padding: 5px;
}

.move-counter {
    padding: 5px;
    
}

.reset button {
    background: #cf6010;
    padding-top: 2px;
    margin-top: 4px;
    border-radius: 5px;
}

.time-container {
   background-color: black;
   border-radius: 15px;
   color: #fff;
   margin-left: 47%;
   margin-right: 47%;
   margin-bottom: 10px;
   padding: 12px;
}

.time-container span {
    font-family: 'Bilbo', cursive;
    font-size: 25px;
}

.time-container i {
    font-size: 14px;
}

.ring-rating, li {
    list-style: none;
}

.card, .btn-reset {
    cursor: pointer;
}

/*----modal congrats----*/


.modal-sm {
	display: none;
	position: fixed;
	z-index: 1;
  left: 40%;
  width: 55%;
  top: 0;
	
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-content {
  position: absolute;
	background: url(images/shire.jpg) no-repeat cover;
	margin: 15% auto;
	padding: 20px 10px 20px 10px;
    border: 1px solid #888;
    width: 55%;
	font-family: 'Bilbo', cursive;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.modal-content h2 {
    font-size: 30px;
}

.modal-content p {
    font-size: 20px;
}

.modal-sm img {
    height: 100px;
    width: 100px;
    position: relative;
    left: 45%;
}

.close {
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
  display: block;
}


#closeModal {
  color: black;
  align-content: center;
  padding: 5px 5px 5px 5px;
  font-family: 'Bungee Inline', cursive;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*---Memory Game----*/

.deck {
    background: linear-gradient(to bottom, #fbeca3);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    height: 600px;
    margin-bottom: 60px;
    padding-left: 0;
    left: 27%;
    width: 640px;
    perspective: 1000px;
}

.card {
  width: calc(20% - 10px);
  height: calc(25% - 10px);
  margin: 0px;
  position: relative;
  padding: 0;
  transition: transform .5s;
   transform: scale(1);
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  
}
.front, .back {
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    backface-visibility: hidden;
    margin: 0;
    
    
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}
.back {
    transform: rotateY(180deg);
}


.deck, .card {
    box-shadow: 2px 5px 25px 0 #fbeca3;
    background: #cf6010;
}

.deck .card.open {
	transform: rotateY(0deg);
	cursor: default;
	animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.show {
    font-size: 33px;

}

.deck .card.match {
	cursor: default;
	
	font-size: 33px;
	animation-name: rubberBand;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.unmatched {
	animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
	background: #e2043b;
}

.deck .card.disabled {
	pointer-events: none;
    opacity: 0.9;

}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}


  

@keyframes flipInY {
	from {
		-webkit-transform: rotateY(0deg); transform: rotateY(0deg);;
		animation-timing-function: ease-in;
		opacity: 0;
	}

	to {
		-webkit-transform: rotateY(180deg); transform: rotateY(180deg);
	}
}

@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}
