@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

html {
    box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {

    height: 100%;
    margin: 0;
    font-family: 'Bilbo', cursive;
    text-align: center;
    background: url(../images/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    
}


/*----logo----*/

.logo {
    height: 100px;
    position: relative;
  
}

h1 {
    position: relative;
    color: #fbeca3;
    font-family: 'Bilbo', cursive;

}



/*-------score tab----*/

.score {
    font-size: 25px;
    font-family: 'Bilbo', cursive;
    padding: 10px 0 20px;
    display: inline;
}

.ring-rating, li {
    display: inline-block;
    padding: 5px;
}

.move-counter, .move {
    padding: 5px;
    color: #fbeca3;
}
.reset {
    right: 100%;
    position: relative;
}
.reset button {
    background: #000;
    color: #ffca3a;
    font-size: 20px;
    padding-top: 2px;
    margin-top: 30px;
    border-radius: 5px;
    padding-left: 20px;
    margin-left: 40px;
}

.reset-btn:hover {
    background-color: #fff;
    color: #000;
}

.time-container {
   background-color: black;
   border-radius: 15px;
   color: #fff;
   margin-left: 46%;
   margin-right: 47%;
   margin-bottom: 10px;
   padding: 12px;
}

.time-container span {
    font-family: 'Bilbo', cursive;
    font-size: 25px;
}

.time-container i {
    font-size: 14px;
}

.ring-rating, li {
    list-style: none;
}

.card, .btn-reset {
    cursor: pointer;
}

/*--instructions---*/
#modal {
    display: none;
	position: fixed;
	z-index: 1;
  left: 40%;
  width: 55%;
  top: 0;
	
}

/*----modal congrats----*/


.modal-sm {
	display: none;
	position: fixed;
	z-index: 1;
  left: 40%;
  width: 55%;
  top: 0;
	
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-content {
  position: absolute;
	margin: 15% auto;
	padding: 20px 10px 20px 10px;
    border: 1px solid #888;
    width: 55%;
	font-family: 'Bilbo', cursive;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.modal-content h2 {
    font-size: 30px;
}

.modal-content p {
    font-size: 20px;
}

.modal-sm img {
    height: 100px;
    width: 100px;
    position: relative;
    left: 45%;
}

.close {
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
  display: block;
}


#closeModal {
  color: black;
  align-content: center;
  padding: 5px 5px 5px 5px;
  font-family: 'Bungee Inline', cursive;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*---Memory Game----*/

.deck {
    background: #fbeca3;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 60px;
    padding-left: 0;
    left: 25%;
    width: 640px;
    perspective: 1000px;
}

.card {
  width: calc(20% - 10px);
  height: calc(25% - 10px);
  margin: 0px;
  margin-top: 5px;
  position: relative;
  margin-bottom: 2px;
  padding: 0;
  transition: transform .5s;
  -webkit-transition: transform .5s;
  transform: scale(1);
  -webkit-transform: scale(1);
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.front, .back {
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    margin: 0;
    
    
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}
.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

/*----card classes---*/
.deck, .card {
    box-shadow: 2px 5px 25px 0 #fbeca3;
    background: #cf6010;
}

.deck .card.open {
    transform: rotateY(0deg); 
    -webkit-transform: rotateY(0deg);
	cursor: default;
	animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .5s;
}

.deck .card.show {
    font-size: 33px;

}

.deck .card.match {
	cursor: default;
	background: green;
	font-size: 33px;
	animation-name: rubberBand;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.unmatched {
	animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .5s;
	background: #e2043b;
}

.deck .card.disabled {
	pointer-events: none;
    opacity: 0.9;
    transition-duration: 0.5s;

}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}


/*----animations-----*/

@keyframes flipInY {
	from {
		-webkit-transform: rotateY(0deg); transform: rotateY(0deg);;
		animation-timing-function: ease-in;
		opacity: 0;
	}

	to {
		-webkit-transform: rotateY(180deg); transform: rotateY(180deg);
	}
}

@keyframes rubberBand {
	from {
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
	}


	75% {
        transform: scale3d(1.05, .95, 1);
        -webkit-transform: scale3d(1.05,.95, 1);
	}

	to {
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
	}

	50% {
        transform: scale3d(1.2, 1.2, 1.2);
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
	}
}

/*----media screens----*/

@media screen and (max-width: 1024px) {
	.body {
		font-size: 22px;
	}

	.deck {
		width: 420px;
        height: 440px;
        left: 20%;
	}

    .time-container{
        margin-left: 10%;
        margin-right: 10%;
    }
	.card {
		width: calc(20% - 10px);
        height: calc(25% - 10px);
	}

	.modal-sm {
        width: 60%;
        left: 10%;
	}
}

@media screen and (max-width: 720px) {
	.body {
		font-size: 22px;
	}

    .front, .back {
       
    width: 100%;
    height: 100%;
    }
    
	.deck {
		width: 320px;
        height: 340px;
        left: 10%;
	}

    .time-container{
        margin-left: 10%;
        margin-right: 10%;
    }
	.card {
		width: calc(20% - 10px);
        height: calc(25% - 10px);
	}

	.modal-sm {
        width: 60%;
        left: 10%;
	}
}